:root{
    /*  Shopify varaible  */
    --sidebar-width-collapsed: 48px;
    --sidebar-width-default: 216px;
    --sidebar-width-xl: 276px;
    --maincontent-columns-count: 10;
    --maincontent-max-columns-count: 14;
    --maincontent-max-width: 1268px;
    --maincontent-max-width-xxl: 1420px;
    --maincontent-item-gutter-width: 16px;
    --maincontent-item-gutter-width-lg-xl: 20px;
    --breakpoint-xs-max: 639.98px;
    --breakpoint-sm-min: 640px;
    --breakpoint-sm-max: 959.98px;
    --breakpoint-md-min: 960px;
    --breakpoint-md-max: 1279.98px;
    --breakpoint-lg-min: 1280px;
    --breakpoint-lg-max: 1919.98px;
    --breakpoint-xl-min: 1920px;
    --color-azure-10: #3580e6;
    --color-azure-11: #2870cc;
    --color-azure-12: #005fb8;
    --color-azure-13: #004d96;
    --color-azure-14: #003870;
    --color-azure-15: #002249;
    --color-azure-00: #f4f6ff;
    --color-azure-00d: #f5f6fb;
    --color-azure-01: #eef3ff;
    --color-azure-01d: #f0f3fa;
    --color-azure-02: #e8eeff;
    --color-azure-02d: #ebeef7;
    --color-azure-03: #dce5ff;
    --color-azure-03d: #e0e5f4;
    --color-azure-04: #cedbff;
    --color-azure-04d: #d5dbef;
    --color-azure-05: #bccfff;
    --color-azure-05d: #c5cfea;
    --color-azure-06: #a2beff;
    --color-azure-06d: #b0bee3;
    --color-azure-07: #8ab0ff;
    --color-azure-07d: #9fb0dd;
    --color-azure-08: #6ea0fb;
    --color-azure-08d: #89a0d6;
    --color-azure-09: #4090ff;
    --color-azure-09d: #7490ce;
    --color-azure-10d: #6180c0;
    --color-azure-11d: #5470a8;
    --color-azure-12d: #475f91;
    --color-azure-13d: #394d76;
    --color-azure-14d: #293857;
    --color-azure-15d: #182238;
    --color-blue-10: #756dff;
    --color-blue-11: #6055ff;
    --color-blue-12: #4b3df7;
    --color-blue-13: #3724e1;
    --color-blue-14: #2c1fa9;
    --color-blue-15: #1e1867;
    --color-blue-00: #f6f5ff;
    --color-blue-00d: #f6f5fb;
    --color-blue-01: #f2f1ff;
    --color-blue-01d: #f2f2f9;
    --color-blue-02: #edecff;
    --color-blue-02d: #ededf7;
    --color-blue-03: #e4e3ff;
    --color-blue-03d: #e5e4f4;
    --color-blue-04: #d9d8ff;
    --color-blue-04d: #dadaef;
    --color-blue-05: #cccaff;
    --color-blue-05d: #cdccea;
    --color-blue-06: #bbb8ff;
    --color-blue-06d: #bdbbe3;
    --color-blue-07: #aba7ff;
    --color-blue-07d: #aeacdd;
    --color-blue-08: #9994ff;
    --color-blue-08d: #9d9ad5;
    --color-blue-09: #8781ff;
    --color-blue-09d: #8c89ce;
    --color-blue-10d: #7c79c6;
    --color-blue-11d: #6a66bc;
    --color-blue-12d: #5854b0;
    --color-blue-13d: #46419e;
    --color-blue-14d: #35317c;
    --color-blue-15d: #211e53;
    --color-cyan-10: #278bab;
    --color-cyan-11: #217996;
    --color-cyan-12: #1b6780;
    --color-cyan-13: #145469;
    --color-cyan-14: #0d4151;
    --color-cyan-15: #062935;
    --color-cyan-00: #f2f7fb;
    --color-cyan-00d: #f4f7f9;
    --color-cyan-01: #ebf4fa;
    --color-cyan-01d: #eef3f7;
    --color-cyan-02: #e1f0f9;
    --color-cyan-02d: #e6eff5;
    --color-cyan-03: #ceeaf9;
    --color-cyan-03d: #d8e8f1;
    --color-cyan-04: #b5e2f8;
    --color-cyan-04d: #c7dfec;
    --color-cyan-05: #94d8f6;
    --color-cyan-05d: #b2d4e5;
    --color-cyan-06: #60ccf3;
    --color-cyan-06d: #96c6dd;
    --color-cyan-07: #3bbee7;
    --color-cyan-07d: #84b8cf;
    --color-cyan-08: #33add3;
    --color-cyan-08d: #78a7bd;
    --color-cyan-09: #2d9cbf;
    --color-cyan-09d: #6c97ab;
    --color-cyan-10d: #5e8699;
    --color-cyan-11d: #507587;
    --color-cyan-12d: #426474;
    --color-cyan-13d: #34515f;
    --color-cyan-14d: #263f4a;
    --color-cyan-15d: #162830;
    --color-grayscale-10: #8c9196;
    --color-grayscale-11: #6d7175;
    --color-grayscale-12: #5c5f62;
    --color-grayscale-13: #44474a;
    --color-grayscale-14: #202223;
    --color-grayscale-15: #000000;
    --color-grayscale-00: #ffffff;
    --color-grayscale-01: #fafbfb;
    --color-grayscale-02: #f6f6f7;
    --color-grayscale-03: #f1f2f3;
    --color-grayscale-04: #edeeef;
    --color-grayscale-05: #e4e5e7;
    --color-grayscale-06: #d2d5d8;
    --color-grayscale-07: #c9cccf;
    --color-grayscale-08: #babec3;
    --color-grayscale-09: #999ea4;
    --color-green-10: #00936f;
    --color-green-11: #008060;
    --color-green-12: #006d51;
    --color-green-13: #005942;
    --color-green-14: #004432;
    --color-green-15: #002c1f;
    --color-green-00: #eafaf3;
    --color-green-00d: #f1f8f5;
    --color-green-01: #dbfaed;
    --color-green-01d: #ebf5f1;
    --color-green-02: #d4f5e7;
    --color-green-02d: #e1f1ea;
    --color-green-03: #bff0dc;
    --color-green-03d: #d3ebe1;
    --color-green-04: #aae8cf;
    --color-green-04d: #c5e1d5;
    --color-green-05: #8fdec0;
    --color-green-05d: #aed7c6;
    --color-green-06: #7ccfaf;
    --color-green-06d: #a1c7b7;
    --color-green-07: #5bc39e;
    --color-green-07d: #95b8a9;
    --color-green-08: #43b38e;
    --color-green-08d: #7eaa98;
    --color-green-09: #00a57d;
    --color-green-09d: #719a89;
    --color-green-10d: #65897a;
    --color-green-11d: #57776a;
    --color-green-12d: #49655a;
    --color-green-13d: #3b5349;
    --color-green-14d: #2c3f37;
    --color-green-15d: #1b2823;
    --color-lime-10: #38932a;
    --color-lime-11: #308023;
    --color-lime-12: #286d1d;
    --color-lime-13: #1f5916;
    --color-lime-14: #16450f;
    --color-lime-15: #0b2c07;
    --color-lime-00: #eafbe9;
    --color-lime-00d: #eff9ef;
    --color-lime-01: #e0fadd;
    --color-lime-01d: #e7f7e6;
    --color-lime-02: #cef9cb;
    --color-lime-02d: #daf5d8;
    --color-lime-03: #adf7a7;
    --color-lime-03d: #c4f1c1;
    --color-lime-04: #7ff571;
    --color-lime-04d: #adeaa8;
    --color-lime-05: #5feb48;
    --color-lime-05d: #9edf98;
    --color-lime-06: #5bd848;
    --color-lime-06d: #92ce8c;
    --color-lime-07: #5ec750;
    --color-lime-07d: #86bf81;
    --color-lime-08: #52b643;
    --color-lime-08d: #7bae76;
    --color-lime-09: #41a531;
    --color-lime-09d: #6e9c69;
    --color-lime-10d: #618b5d;
    --color-lime-11d: #547951;
    --color-lime-12d: #476744;
    --color-lime-13d: #395437;
    --color-lime-14d: #2b4129;
    --color-lime-15d: #1a2919;
    --color-magenta-10: #e800b0;
    --color-magenta-11: #ce1b9c;
    --color-magenta-12: #b31587;
    --color-magenta-13: #920f6e;
    --color-magenta-14: #720955;
    --color-magenta-15: #4c0438;
    --color-magenta-00: #fff3f9;
    --color-magenta-00d: #fbf4f8;
    --color-magenta-01: #ffeef7;
    --color-magenta-01d: #faf0f5;
    --color-magenta-02: #fee8f4;
    --color-magenta-02d: #f8eaf2;
    --color-magenta-03: #fedcef;
    --color-magenta-03d: #f5e0eb;
    --color-magenta-04: #fecee9;
    --color-magenta-04d: #f1d3e4;
    --color-magenta-05: #fabce1;
    --color-magenta-05d: #eac3da;
    --color-magenta-06: #f7a7d6;
    --color-magenta-06d: #e4b1ce;
    --color-magenta-07: #f391cd;
    --color-magenta-07d: #dc9ec2;
    --color-magenta-08: #ee77c3;
    --color-magenta-08d: #d489b6;
    --color-magenta-09: #ea5ab9;
    --color-magenta-09d: #cd73ab;
    --color-magenta-10d: #c0609e;
    --color-magenta-11d: #a85389;
    --color-magenta-12d: #8e4674;
    --color-magenta-13d: #75395f;
    --color-magenta-14d: #5b2b49;
    --color-magenta-15d: #3c1a2f;
    --color-orange-10: #a77900;
    --color-orange-11: #926900;
    --color-orange-12: #7d5900;
    --color-orange-13: #674800;
    --color-orange-14: #4f3700;
    --color-orange-15: #332200;
    --color-orange-00: #fff5e9;
    --color-orange-00d: #fbf6f0;
    --color-orange-01: #fff1e0;
    --color-orange-01d: #f9f2ea;
    --color-orange-02: #ffebd4;
    --color-orange-02d: #f7ede1;
    --color-orange-03: #ffe1bc;
    --color-orange-03d: #f3e3d1;
    --color-orange-04: #ffd59b;
    --color-orange-04d: #eed9bf;
    --color-orange-05: #fcc66f;
    --color-orange-05d: #ebca9f;
    --color-orange-06: #f2b537;
    --color-orange-06d: #e2b980;
    --color-orange-07: #e1a729;
    --color-orange-07d: #d2a971;
    --color-orange-08: #ce9700;
    --color-orange-08d: #bd9a69;
    --color-orange-09: #bb8800;
    --color-orange-09d: #ab8a5f;
    --color-orange-10d: #987d57;
    --color-orange-11d: #846d4e;
    --color-orange-12d: #705c41;
    --color-orange-13d: #5d4b34;
    --color-orange-14d: #473927;
    --color-orange-15d: #2d2317;
    --color-red-10: #f63310;
    --color-red-11: #d72c0d;
    --color-red-12: #b92409;
    --color-red-13: #981c06;
    --color-red-14: #74180c;
    --color-red-15: #4e0d05;
    --color-red-00: #fef4f4;
    --color-red-00d: #faf6f6;
    --color-red-01: #feefef;
    --color-red-01d: #f7f1f1;
    --color-red-02: #fee9e8;
    --color-red-02d: #f5eceb;
    --color-red-03: #fededd;
    --color-red-03d: #f0e2e2;
    --color-red-04: #fdd1cf;
    --color-red-04d: #ebd7d6;
    --color-red-05: #fdc0bd;
    --color-red-05d: #e9c8c7;
    --color-red-06: #fda9a5;
    --color-red-06d: #e2b4b1;
    --color-red-07: #fd938e;
    --color-red-07d: #dda2a1;
    --color-red-08: #fd7770;
    --color-red-08d: #d88c8a;
    --color-red-09: #fd574a;
    --color-red-09d: #d47672;
    --color-red-10d: #cc605b;
    --color-red-11d: #b2544e;
    --color-red-12d: #9a4642;
    --color-red-13d: #7d3734;
    --color-red-14d: #612b28;
    --color-red-15d: #401a18;
    --color-rose-10: #e7426a;
    --color-rose-11: #cd355b;
    --color-rose-12: #b02c4d;
    --color-rose-13: #91233e;
    --color-rose-14: #770e2d;
    --color-rose-15: #51041b;
    --color-rose-00: #fdf4f5;
    --color-rose-00d: #fbf5f6;
    --color-rose-01: #fcf0f1;
    --color-rose-01d: #f9f0f2;
    --color-rose-02: #fbeaec;
    --color-rose-02d: #f7ebed;
    --color-rose-03: #f9dfe3;
    --color-rose-03d: #f2e1e4;
    --color-rose-04: #f7d2d7;
    --color-rose-04d: #eed6d8;
    --color-rose-05: #f5c2c8;
    --color-rose-05d: #e9c7ca;
    --color-rose-06: #f2adb6;
    --color-rose-06d: #e2b3ba;
    --color-rose-07: #f098a5;
    --color-rose-07d: #dda1a9;
    --color-rose-08: #ee7f92;
    --color-rose-08d: #d78c98;
    --color-rose-09: #ec627e;
    --color-rose-09d: #d27585;
    --color-rose-10d: #c56374;
    --color-rose-11d: #b35063;
    --color-rose-12d: #9a4454;
    --color-rose-13d: #7f3644;
    --color-rose-14d: #622934;
    --color-rose-15d: #411920;
    --color-teal-10: #008f9a;
    --color-teal-11: #007c86;
    --color-teal-12: #006a73;
    --color-teal-13: #00565e;
    --color-teal-14: #004249;
    --color-teal-15: #002b30;
    --color-teal-00: #e9fafc;
    --color-teal-00d: #f1f8f9;
    --color-teal-01: #ddf7fc;
    --color-teal-01d: #e9f4f6;
    --color-teal-02: #d4f4f9;
    --color-teal-02d: #e3f1f3;
    --color-teal-03: #c5ecf3;
    --color-teal-03d: #d0eaed;
    --color-teal-04: #a8e6ef;
    --color-teal-04d: #bee2e8;
    --color-teal-05: #7edde9;
    --color-teal-05d: #acd6dc;
    --color-teal-06: #56d0dd;
    --color-teal-06d: #99c7ce;
    --color-teal-07: #3ec1cf;
    --color-teal-07d: #8db8be;
    --color-teal-08: #00b1bf;
    --color-teal-08d: #80a7ad;
    --color-teal-09: #00a0ac;
    --color-teal-09d: #73979c;
    --color-teal-10d: #67878b;
    --color-teal-11d: #597579;
    --color-teal-12d: #4b6468;
    --color-teal-13d: #3c5154;
    --color-teal-14d: #2e3e41;
    --color-teal-15d: #1d282a;
    --color-violet-10: #bf4ce8;
    --color-violet-11: #ab3ad1;
    --color-violet-12: #9231b3;
    --color-violet-13: #782793;
    --color-violet-14: #5d1c73;
    --color-violet-15: #3e104d;
    --color-violet-00: #faf4fe;
    --color-violet-00d: #f8f5fa;
    --color-violet-01: #f8f0fd;
    --color-violet-01d: #f6f1f8;
    --color-violet-02: #f5eafc;
    --color-violet-02d: #f2ecf6;
    --color-violet-03: #f1e0fb;
    --color-violet-03d: #ece3f1;
    --color-violet-04: #ebd3f9;
    --color-violet-04d: #e4d7ec;
    --color-violet-05: #e4c3f7;
    --color-violet-05d: #dac9e5;
    --color-violet-06: #dcaef4;
    --color-violet-06d: #cfb6dd;
    --color-violet-07: #d59af2;
    --color-violet-07d: #c4a6d5;
    --color-violet-08: #cd82ef;
    --color-violet-08d: #b892cc;
    --color-violet-09: #c669ec;
    --color-violet-09d: #ad80c3;
    --color-violet-10d: #a16db9;
    --color-violet-11d: #8f5da5;
    --color-violet-12d: #7a4e8d;
    --color-violet-13d: #643f74;
    --color-violet-14d: #4d305a;
    --color-violet-15d: #331e3b;
    --color-yellow-10: #7f872b;
    --color-yellow-11: #6e752c;
    --color-yellow-12: #5d6422;
    --color-yellow-13: #4c5120;
    --color-yellow-14: #3a3e1c;
    --color-yellow-15: #25280c;
    --color-yellow-00: #f5fad3;
    --color-yellow-00d: #f9f7e9;
    --color-yellow-01: #f0f8ad;
    --color-yellow-01d: #f6f3df;
    --color-yellow-02: #e9f587;
    --color-yellow-02d: #f4efcc;
    --color-yellow-03: #e1ef4b;
    --color-yellow-03d: #eee8af;
    --color-yellow-04: #d7e540;
    --color-yellow-04d: #e5dd9a;
    --color-yellow-05: #cbd930;
    --color-yellow-05d: #d8d191;
    --color-yellow-06: #bbc81c;
    --color-yellow-06d: #c8c186;
    --color-yellow-07: #adb919;
    --color-yellow-07d: #b9b27b;
    --color-yellow-08: #9da816;
    --color-yellow-08d: #a8a270;
    --color-yellow-09: #8e981e;
    --color-yellow-09d: #979265;
    --color-yellow-10d: #87835a;
    --color-yellow-11d: #75714d;
    --color-yellow-12d: #646041;
    --color-yellow-13d: #524f34;
    --color-yellow-14d: #3f3c2a;
    --color-yellow-15d: #282719;
    --color-docs-background-default: #ffffff;
    --color-docs-background-surface-default: #fafbfb;
    --color-docs-background-surface-hover: #f6f6f7;
    --color-docs-background-surface-active: #f1f2f3;
    --color-docs-background-surface-decorative-blue: #f2f1ff;
    --color-docs-background-surface-decorative-azure: #eef3ff;
    --color-docs-background-surface-decorative-violet: #f8f0fd;
    --color-docs-background-surface-decorative-cyan: #ebf4fa;
    --color-docs-background-surface-decorative-teal: #ddf7fc;
    --color-docs-text-default: #5c5f62;
    --color-docs-text-subdued: #6d7175;
    --color-docs-text-bright: #202223;
    --color-docs-text-onfill: #ffffff;
    --color-docs-text-headline-default: #202223;
    --color-docs-text-headline-subdued: #6d7175;
    --color-docs-text-headline-minor-default: #44474a;
    --color-docs-text-headline-minor-subdued: #6d7175;
    --color-docs-text-link-default: #475f91;
    --color-docs-text-link-hover: #293857;
    --color-docs-text-link-highlight: #f5f6fb;
    --color-docs-text-link-active: #5470a8;
    --color-docs-text-link-visited: #475f91;
    --color-docs-divider-default: #d2d5d8;
    --color-docs-border-default: #d2d5d8;
    --color-docs-border-hover: #babec3;
    --color-docs-border-active: #999ea4;
    --color-docs-fill-default: #00936f;
    --color-docs-fill-subdued: #6d7175;
    --color-docs-fill-icon-default: #6d7175;
    --color-docs-fill-icon-hover: #5c5f62;
    --color-docs-fill-icon-active: #44474a;
    --color-docs-fill-icon-subdued: #999ea4;
    --color-graphql-background-default: #ffffff;
    --color-graphql-background-surface-default: #fafbfb;
    --color-graphql-background-surface-hover: #f6f6f7;
    --color-graphql-background-surface-active: #f1f2f3;
    --color-graphql-text-default: #5c5f62;
    --color-graphql-text-subdued: #6d7175;
    --color-graphql-text-bright: #720955;
    --color-graphql-text-onfill: #ffffff;
    --color-graphql-text-headline-default: #720955;
    --color-graphql-text-headline-subdued: #8e4674;
    --color-graphql-text-headline-minor-default: #920f6e;
    --color-graphql-text-headline-minor-subdued: #8e4674;
    --color-graphql-text-link-default: #b31587;
    --color-graphql-text-link-hover: #720955;
    --color-graphql-text-link-highlight: #fff3f9;
    --color-graphql-text-link-active: #ce1b9c;
    --color-graphql-text-link-visited: #b31587;
    --color-graphql-divider-default: #f5e0eb;
    --color-graphql-border-default: #d2d5d8;
    --color-graphql-border-hover: #babec3;
    --color-graphql-border-active: #999ea4;
    --color-graphql-fill-default: #e800b0;
    --color-graphql-fill-icon-default: #ce1b9c;
    --color-graphql-fill-icon-hover: #b31587;
    --color-graphql-fill-icon-active: #920f6e;
    --color-graphql-fill-icon-subdued: #cd73ab;
    --color-liquid-background-default: #ffffff;
    --color-liquid-background-surface-default: #fafbfb;
    --color-liquid-background-surface-hover: #f6f6f7;
    --color-liquid-background-surface-active: #f1f2f3;
    --color-liquid-background-surface-sheer: #f6f6f780;
    --color-liquid-text-default: #5c5f62;
    --color-liquid-text-subdued: #6d7175;
    --color-liquid-text-bright: #003870;
    --color-liquid-text-onfill: #ffffff;
    --color-liquid-text-headline-default: #003870;
    --color-liquid-text-headline-subdued: #475f91;
    --color-liquid-text-headline-minor-default: #004d96;
    --color-liquid-text-headline-minor-subdued: #475f91;
    --color-liquid-text-link-default: #005fb8;
    --color-liquid-text-link-hover: #003870;
    --color-liquid-text-link-highlight: #f4f6ff;
    --color-liquid-text-link-active: #2870cc;
    --color-liquid-text-link-visited: #005fb8;
    --color-liquid-divider-default: #e0e5f4;
    --color-liquid-border-default: #d2d5d8;
    --color-liquid-border-hover: #babec3;
    --color-liquid-border-active: #999ea4;
    --color-liquid-fill-default: #3580e6;
    --color-liquid-fill-icon-default: #2870cc;
    --color-liquid-fill-icon-hover: #005fb8;
    --color-liquid-fill-icon-active: #004d96;
    --color-liquid-fill-icon-subdued: #7490ce;
    --color-rest-background-default: #ffffff;
    --color-rest-background-surface-default: #fafbfb;
    --color-rest-background-surface-hover: #f6f6f7;
    --color-rest-background-surface-active: #f1f2f3;
    --color-rest-text-default: #5c5f62;
    --color-rest-text-subdued: #6d7175;
    --color-rest-text-bright: #0d4151;
    --color-rest-text-onfill: #ffffff;
    --color-rest-text-headline-default: #0d4151;
    --color-rest-text-headline-subdued: #426474;
    --color-rest-text-headline-minor-default: #145469;
    --color-rest-text-headline-minor-subdued: #426474;
    --color-rest-text-link-default: #1b6780;
    --color-rest-text-link-hover: #0d4151;
    --color-rest-text-link-highlight: #f2f7fb;
    --color-rest-text-link-active: #217996;
    --color-rest-text-link-visited: #1b6780;
    --color-rest-divider-default: #d8e8f1;
    --color-rest-border-default: #d2d5d8;
    --color-rest-border-hover: #babec3;
    --color-rest-border-active: #999ea4;
    --color-rest-fill-default: #278bab;
    --color-rest-fill-icon-default: #217996;
    --color-rest-fill-icon-hover: #1b6780;
    --color-rest-fill-icon-active: #145469;
    --color-rest-fill-icon-subdued: #6c97ab;
    --color-graphqlarg-background-default: #f5eafc;
    --color-graphqlarg-background-surface-default: #f5eafc;
    --color-graphqlarg-background-surface-hover: #f1e0fb;
    --color-graphqlarg-background-surface-active: #ebd3f9;
    --color-graphqlarg-text-default: #9231b3;
    --color-graphqlarg-text-subdued: #7a4e8d;
    --color-graphqlarg-text-bright: #5d1c73;
    --color-graphqlarg-text-link-default: #9231b3;
    --color-graphqlarg-text-link-hover: #782793;
    --color-graphqlarg-text-link-highlight: #f5eafc;
    --color-graphqlarg-text-link-active: #5d1c73;
    --color-graphqlarg-text-link-visited: #9231b3;
    --color-graphqlarg-border-default: #dcaef4;
    --color-graphqlarg-border-active: #cd82ef;
    --color-graphqlinput-background-default: #e7f7e6;
    --color-graphqlinput-background-surface-default: #e7f7e6;
    --color-graphqlinput-background-surface-hover: #daf5d8;
    --color-graphqlinput-background-surface-active: #c4f1c1;
    --color-graphqlinput-text-default: #286d1d;
    --color-graphqlinput-text-subdued: #476744;
    --color-graphqlinput-text-bright: #16450f;
    --color-graphqlinput-text-link-default: #308023;
    --color-graphqlinput-text-link-hover: #286d1d;
    --color-graphqlinput-text-link-highlight: #e7f7e6;
    --color-graphqlinput-text-link-active: #1f5916;
    --color-graphqlinput-text-link-visited: #308023;
    --color-graphqlinput-border-default: #9edf98;
    --color-graphqlinput-border-active: #86bf81;
    --color-graphqlmutation-background-default: #ffebd4;
    --color-graphqlmutation-background-surface-default: #ffebd4;
    --color-graphqlmutation-background-surface-hover: #ffe1bc;
    --color-graphqlmutation-background-surface-active: #ffd59b;
    --color-graphqlmutation-text-default: #7d5900;
    --color-graphqlmutation-text-subdued: #705c41;
    --color-graphqlmutation-text-bright: #4f3700;
    --color-graphqlmutation-text-link-default: #7d5900;
    --color-graphqlmutation-text-link-hover: #674800;
    --color-graphqlmutation-text-link-highlight: #ffebd4;
    --color-graphqlmutation-text-link-active: #4f3700;
    --color-graphqlmutation-text-link-visited: #7d5900;
    --color-graphqlmutation-border-default: #fcc66f;
    --color-graphqlmutation-border-active: #e1a729;
    --color-graphqlobject-background-default: #fee8f4;
    --color-graphqlobject-background-surface-default: #fee8f4;
    --color-graphqlobject-background-surface-hover: #fedcef;
    --color-graphqlobject-background-surface-active: #fecee9;
    --color-graphqlobject-text-default: #b31587;
    --color-graphqlobject-text-subdued: #8e4674;
    --color-graphqlobject-text-bright: #720955;
    --color-graphqlobject-text-link-default: #b31587;
    --color-graphqlobject-text-link-hover: #920f6e;
    --color-graphqlobject-text-link-highlight: #fee8f4;
    --color-graphqlobject-text-link-active: #720955;
    --color-graphqlobject-text-link-visited: #b31587;
    --color-graphqlobject-border-default: #f7a7d6;
    --color-graphqlobject-border-active: #ee77c3;
    --color-graphqlquery-background-default: #edecff;
    --color-graphqlquery-background-surface-default: #edecff;
    --color-graphqlquery-background-surface-hover: #e4e3ff;
    --color-graphqlquery-background-surface-active: #d9d8ff;
    --color-graphqlquery-text-default: #4b3df7;
    --color-graphqlquery-text-subdued: #5854b0;
    --color-graphqlquery-text-bright: #2c1fa9;
    --color-graphqlquery-text-link-default: #4b3df7;
    --color-graphqlquery-text-link-hover: #3724e1;
    --color-graphqlquery-text-link-highlight: #edecff;
    --color-graphqlquery-text-link-active: #2c1fa9;
    --color-graphqlquery-text-link-visited: #4b3df7;
    --color-graphqlquery-border-default: #bbb8ff;
    --color-graphqlquery-border-active: #9994ff;
    --color-graphqltype-background-default: #e6eff5;
    --color-graphqltype-background-surface-default: #e6eff5;
    --color-graphqltype-background-surface-hover: #d8e8f1;
    --color-graphqltype-background-surface-active: #c7dfec;
    --color-graphqltype-text-default: #1b6780;
    --color-graphqltype-text-subdued: #426474;
    --color-graphqltype-text-bright: #0d4151;
    --color-graphqltype-text-link-default: #1b6780;
    --color-graphqltype-text-link-hover: #145469;
    --color-graphqltype-text-link-highlight: #e6eff5;
    --color-graphqltype-text-link-active: #0d4151;
    --color-graphqltype-text-link-visited: #1b6780;
    --color-graphqltype-border-default: #96c6dd;
    --color-graphqltype-border-active: #78a7bd;
    --color-overlay-sheer: #00000026;
    --color-overlay-medium: #00000059;
    --color-overlay-heavy: #0000008c;
    --color-restdel-background-default: #fee9e8;
    --color-restdel-background-surface-default: #fee9e8;
    --color-restdel-text-default: #b92409;
    --color-restdel-text-bright: #74180c;
    --color-restdel-text-onfill: #ffffff;
    --color-restdel-border-default: #d72c0d;
    --color-restdel-border-active: #74180c;
    --color-restdel-fill-default: #d72c0d;
    --color-restget-background-default: #edecff;
    --color-restget-background-surface-default: #edecff;
    --color-restget-text-default: #4b3df7;
    --color-restget-text-bright: #2c1fa9;
    --color-restget-text-onfill: #ffffff;
    --color-restget-border-default: #6055ff;
    --color-restget-border-active: #2c1fa9;
    --color-restget-fill-default: #6055ff;
    --color-restobject-background-default: #ebf4fa;
    --color-restobject-background-surface-default: #ebf4fa;
    --color-restobject-text-default: #1b6780;
    --color-restobject-text-bright: #0d4151;
    --color-restobject-text-onfill: #ffffff;
    --color-restobject-border-default: #60ccf3;
    --color-restobject-border-active: #33add3;
    --color-restobject-fill-default: #217996;
    --color-restparam-background-default: #f8f0fd;
    --color-restparam-background-surface-default: #f8f0fd;
    --color-restparam-text-default: #9231b3;
    --color-restparam-text-bright: #5d1c73;
    --color-restparam-text-onfill: #ffffff;
    --color-restparam-border-default: #dcaef4;
    --color-restparam-border-active: #cd82ef;
    --color-restparam-fill-default: #ab3ad1;
    --color-restpost-background-default: #d4f5e7;
    --color-restpost-background-surface-default: #d4f5e7;
    --color-restpost-text-default: #006d51;
    --color-restpost-text-bright: #004432;
    --color-restpost-text-onfill: #ffffff;
    --color-restpost-border-default: #008060;
    --color-restpost-border-active: #004432;
    --color-restpost-fill-default: #008060;
    --color-restput-background-default: #f0f8ad;
    --color-restput-background-surface-default: #f0f8ad;
    --color-restput-text-default: #5d6422;
    --color-restput-text-bright: #3a3e1c;
    --color-restput-text-onfill: #ffffff;
    --color-restput-border-default: #6e752c;
    --color-restput-border-active: #3a3e1c;
    --color-restput-fill-default: #6e752c;
    --color-resttype-background-default: #e9f4f6;
    --color-resttype-background-surface-default: #e9f4f6;
    --color-resttype-text-default: #006a73;
    --color-resttype-text-bright: #004249;
    --color-resttype-text-onfill: #ffffff;
    --color-resttype-border-default: #56d0dd;
    --color-resttype-border-active: #00b1bf;
    --color-resttype-fill-default: #007c86;
    --color-critical-background-surface-default: #fee9e8;
    --color-critical-text-default: #981c06;
    --color-critical-text-bright: #74180c;
    --color-critical-text-headline-default: #74180c;
    --color-critical-text-link-default: #b92409;
    --color-critical-text-link-hover: #981c06;
    --color-critical-text-link-highlight: #fef4f4;
    --color-critical-text-link-active: #d72c0d;
    --color-critical-text-link-visited: #b92409;
    --color-critical-border-default: #fda9a5;
    --color-critical-fill-default: #d72c0d;
    --color-critical-fill-icon-default: #d72c0d;
    --color-experimental-background-surface-default: #d4f4f9;
    --color-experimental-text-default: #00565e;
    --color-experimental-text-bright: #004249;
    --color-experimental-text-headline-default: #002b30;
    --color-experimental-text-link-default: #006a73;
    --color-experimental-text-link-hover: #00565e;
    --color-experimental-text-link-highlight: #e9fafc;
    --color-experimental-text-link-active: #007c86;
    --color-experimental-text-link-visited: #006a73;
    --color-experimental-border-default: #56d0dd;
    --color-experimental-fill-default: #008f9a;
    --color-experimental-fill-icon-default: #008f9a;
    --color-info-background-surface-default: #edecff;
    --color-info-text-default: #46419e;
    --color-info-text-bright: #2c1fa9;
    --color-info-text-headline-default: #35317c;
    --color-info-text-link-default: #4b3df7;
    --color-info-text-link-hover: #3724e1;
    --color-info-text-link-highlight: #f6f5ff;
    --color-info-text-link-active: #6055ff;
    --color-info-text-link-visited: #4b3df7;
    --color-info-border-default: #bbb8ff;
    --color-info-fill-default: #6055ff;
    --color-info-fill-icon-default: #6055ff;
    --color-success-background-surface-default: #d4f5e7;
    --color-success-text-default: #002c1f;
    --color-success-text-bright: #004432;
    --color-success-text-headline-default: #005942;
    --color-success-text-link-default: #006d51;
    --color-success-text-link-hover: #005942;
    --color-success-text-link-highlight: #eafaf3;
    --color-success-text-link-active: #008060;
    --color-success-text-link-visited: #006d51;
    --color-success-border-default: #7ccfaf;
    --color-success-fill-default: #00936f;
    --color-success-fill-icon-default: #00936f;
    --color-warning-background-surface-default: #f5fad3;
    --color-warning-text-default: #4c5120;
    --color-warning-text-bright: #3a3e1c;
    --color-warning-text-headline-default: #4c5120;
    --color-warning-text-link-default: #5d6422;
    --color-warning-text-link-hover: #4c5120;
    --color-warning-text-link-highlight: #f9f7e9;
    --color-warning-text-link-active: #6e752c;
    --color-warning-text-link-visited: #5d6422;
    --color-warning-border-default: #d7e540;
    --color-warning-fill-default: #e1ef4b;
    --color-warning-fill-icon-default: #7f872b;
    --color-shopifyplus-background-surface-default: #e0fadd;
    --color-shopifyplus-text-default: #1f5916;
    --color-shopifyplus-text-bright: #16450f;
    --color-shopifyplus-text-headline-default: #0b2c07;
    --color-shopifyplus-text-link-default: #286d1d;
    --color-shopifyplus-text-link-hover: #1f5916;
    --color-shopifyplus-text-link-highlight: #eafbe9;
    --color-shopifyplus-text-link-active: #308023;
    --color-shopifyplus-text-link-visited: #286d1d;
    --color-shopifyplus-border-default: #7ff571;
    --color-shopifyplus-fill-default: #38932a;
    --color-shopifyplus-fill-icon-default: #38932a;
    --color-syntax-default: #1b6780;
    --color-syntax-comment: #4b6468;
    --color-syntax-add: #6055ff;
    --color-syntax-delete: #cd355b;
    --color-syntax-addhighlight: #e4e3ff;
    --color-syntax-deletehighlight: #f9dfe3;
    --color-syntax-keyword: #005fb8;
    --color-syntax-function: #7d5900;
    --color-syntax-number: #286d1d;
    --color-syntax-string: #9a4642;
    --color-syntax-boolean: #4b3df7;
    --color-syntax-punctuation: #44474a;
    --color-syntax-liquidtag: #6d7175;
    --color-syntax-liquidobject: #006d51;
    --color-syntax-liquidother: #7d5900;
    --depth-inset-1: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
    --depth-inset-2: inset 0px 3px 0px rgba(0, 0, 0, 0.2);
    --depth-outset-1: inset 0px -2px 0px rgba(0, 0, 0, 0.2), inset 0px 2px 0px rgba(255, 255, 255, 0.75);
    --depth-outset-2: inset 0px -3px 0px rgba(0, 0, 0, 0.2), inset 0px 2px 0px rgba(255, 255, 255, 0.9);
    --depth-elevation-1: 0px 1px 0px rgba(0, 0, 0, 0.1);
    --depth-elevation-2: 0px 2px 0px rgba(0, 0, 0, 0.1);
    --depth-elevation-3: 0px 3px 0px rgba(0, 0, 0, 0.1);
    --depth-elevation-4: 0px 4px 0px rgba(0, 0, 0, 0.1);
    --duration-10: 20ms;
    --duration-25: 50ms;
    --duration-50: 100ms;
    --duration-75: 150ms;
    --duration-100: 200ms;
    --duration-150: 300ms;
    --duration-200: 400ms;
    --duration-300: 600ms;
    --duration-400: 800ms;
    --duration-500: 1000ms;
    --duration-1000: 2000ms;
    --font-mono-fontfamily: 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-display1-base: 800 3rem/3.75rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-display1-mobile: 800 2rem/2.25rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-display2-base: 800 2.25rem/2.75rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-display2-mobile: 800 1.75rem/2rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-headline1-base: 700 2rem/2.5rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-headline1-mobile: 700 1.5rem/1.75rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-headline2-base: 700 1.5rem/1.75rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-headline2-mobile: 700 1.25rem/1.5rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-headline3-base: 700 1.25rem/1.5rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-headline3-mobile: 700 1.125rem/1.25rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-headline4-base: 700 1rem/1.25rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-headline4-mobile: 700 1rem/1.25rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-headline5-base: 700 0.875rem/1rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-headline5-mobile: 700 0.875rem/1rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-kicker-base: 700 0.75rem/1rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-excerpt-base: 400 1.125rem/1.75rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-body-base: 400 1rem/1.5rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-body-minor-base: 400 0.875rem/1.25rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-caption-base: 400 0.75rem/1rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-breadcrumbs-base: 400 0.875rem/1.25rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-nav-category-base: 400 0.75rem/1rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-nav-item-base: 400 0.875rem/1.25rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-nav-item-active-base: 700 0.875rem/1.25rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-nav-minor-category-base: 400 0.75rem/1rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-nav-minor-item-base: 400 0.75rem/1rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-nav-minor-item-active-base: 600 0.75rem/1rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-mono-font-nav-minor-detail-base: 400 0.75rem/1rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-sans-fontfamily: 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-display1-base: 800 3rem/3.75rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-display1-mobile: 800 2rem/2.25rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-display2-base: 800 2.25rem/2.75rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-display2-mobile: 800 1.75rem/2rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-headline1-base: 600 2rem/2.5rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-headline1-mobile: 600 1.5rem/1.75rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-headline2-base: 600 1.5rem/1.75rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-headline2-mobile: 600 1.25rem/1.5rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-headline3-base: 600 1.25rem/1.5rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-headline3-mobile: 600 1.125rem/1.25rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-headline4-base: 600 1rem/1.25rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-headline4-mobile: 600 1rem/1.25rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-headline5-base: 600 0.875rem/1rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-headline5-mobile: 600 0.875rem/1rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-kicker-base: 600 0.75rem/1rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-excerpt-base: 400 1.125rem/1.75rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-body-base: 400 1rem/1.5rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-body-minor-base: 400 0.875rem/1.25rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-caption-base: 400 0.75rem/1rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-breadcrumbs-base: 400 0.875rem/1.25rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-nav-category-base: 400 0.75rem/1rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-nav-item-base: 400 0.875rem/1.25rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-nav-item-active-base: 600 0.875rem/1.25rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-nav-minor-category-base: 400 0.75rem/1rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-nav-minor-item-base: 400 0.75rem/1rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-nav-minor-item-active-base: 600 0.75rem/1rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-sans-font-nav-minor-detail-base: 400 0.75rem/1rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --font-code-fontfamily: 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-code-font-code-base: 400 0.875rem/1.25rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-code-font-code-minor-base: 400 0.75rem/1rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-code-font-property-base: 700 0.875rem/1.25rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --font-code-font-property-detail-base: 400 0.75rem/1rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --size-25: 0.0625rem;
    --size-50: 0.125rem;
    --size-75: 0.1875rem;
    --size-100: 0.25rem;
    --size-150: 0.375rem;
    --size-200: 0.5rem;
    --size-250: 0.625rem;
    --size-300: 0.75rem;
    --size-350: 0.875rem;
    --size-400: 1rem;
    --size-450: 1.125rem;
    --size-500: 1.25rem;
    --size-600: 1.5rem;
    --size-700: 1.75rem;
    --size-800: 2rem;
    --size-900: 2.25rem;
    --size-1000: 2.5rem;
    --size-1100: 2.75rem;
    --size-1200: 3rem;
    --size-1300: 3.25rem;
    --size-1400: 3.5rem;
    --size-1500: 3.75rem;
    --size-1600: 4rem;
    --size-1700: 4.25rem;
    --size-1800: 4.5rem;
    --size-1900: 4.75rem;
    --size-2000: 5rem;
    --size-2100: 5.25rem;
    --size-2200: 5.5rem;
    --size-2300: 5.75rem;
    --size-2400: 6rem;
    --size-2500: 6.25rem;
    --size-base-fontsize-copy-xxs: 0.625rem;
    --size-base-fontsize-copy-xs: 0.75rem;
    --size-base-fontsize-copy-sm: 0.875rem;
    --size-base-fontsize-copy-md: 1rem;
    --size-base-fontsize-copy-lg: 1.125rem;
    --size-base-fontsize-copy-xl: 1.25rem;
    --size-base-fontsize-copy-xxl: 1.5rem;
    --size-base-fontsize-headline-xxs: 0.875rem;
    --size-base-fontsize-headline-xs: 1rem;
    --size-base-fontsize-headline-sm: 1.25rem;
    --size-base-fontsize-headline-md: 1.5rem;
    --size-base-fontsize-headline-lg: 2rem;
    --size-base-fontsize-headline-xl: 2.25rem;
    --size-base-fontsize-headline-xxl: 3rem;
    --size-base-lineheight-copy-xxs: 1rem;
    --size-base-lineheight-copy-xs: 1rem;
    --size-base-lineheight-copy-sm: 1.25rem;
    --size-base-lineheight-copy-md: 1.5rem;
    --size-base-lineheight-copy-lg: 1.75rem;
    --size-base-lineheight-copy-xl: 2rem;
    --size-base-lineheight-copy-xxl: 2.25rem;
    --size-base-lineheight-headline-xxs: 1rem;
    --size-base-lineheight-headline-xs: 1.25rem;
    --size-base-lineheight-headline-sm: 1.5rem;
    --size-base-lineheight-headline-md: 1.75rem;
    --size-base-lineheight-headline-lg: 2.5rem;
    --size-base-lineheight-headline-xl: 2.75rem;
    --size-base-lineheight-headline-xxl: 3.75rem;
    --size-base-radius-xs: 0.25rem;
    --size-base-radius-sm: 0.5rem;
    --size-base-radius-md: 0.75rem;
    --size-base-radius-lg: 1rem;
    --size-base-border-thin: 0.0625rem;
    --size-base-border-medium: 0.125rem;
    --size-base-border-thick: 0.1875rem;
    --size-base-layout-gutter-xs: 1rem;
    --size-base-layout-gutter-sm: 1rem;
    --size-base-layout-gutter-md: 1.25rem;
    --size-base-layout-gutter-lg: 1.25rem;
    --size-base-layout-gutter-xl: 1.25rem;
    --size-base-layout-layoutcontainer-xs: 100rem;
    --size-base-layout-layoutcontainer-sm: 100rem;
    --size-base-layout-layoutcontainer-md: 100rem;
    --size-base-layout-layoutcontainer-lg: 76.75rem;
    --size-base-layout-layoutcontainer-xl: 76.75rem;
    --size-base-layout-layoutcontainer-xxl: 88.75rem;
    --size-base-layout-sidebar-xs: 13.75rem;
    --size-base-layout-sidebar-sm: 13.75rem;
    --size-base-layout-sidebar-md: 13.75rem;
    --size-base-layout-sidebar-lg: 13.75rem;
    --size-base-layout-sidebar-xl: 17.5rem;
    --size-basedense-lineheight-copy-xxs: 0.75rem;
    --size-basedense-lineheight-copy-xs: 1rem;
    --size-basedense-lineheight-copy-sm: 1rem;
    --size-basedense-lineheight-copy-md: 1.25rem;
    --size-basedense-lineheight-copy-lg: 1.5rem;
    --size-basedense-lineheight-copy-xl: 1.75rem;
    --size-basedense-lineheight-copy-xxl: 2rem;
    --size-mobile-fontsize-headline-xxs: 0.875rem;
    --size-mobile-fontsize-headline-xs: 1rem;
    --size-mobile-fontsize-headline-sm: 1.125rem;
    --size-mobile-fontsize-headline-md: 1.25rem;
    --size-mobile-fontsize-headline-lg: 1.5rem;
    --size-mobile-fontsize-headline-xl: 1.75rem;
    --size-mobile-fontsize-headline-xxl: 2rem;
    --size-mobile-lineheight-headline-xxs: 1rem;
    --size-mobile-lineheight-headline-xs: 1.25rem;
    --size-mobile-lineheight-headline-sm: 1.25rem;
    --size-mobile-lineheight-headline-md: 1.5rem;
    --size-mobile-lineheight-headline-lg: 1.75rem;
    --size-mobile-lineheight-headline-xl: 2rem;
    --size-mobile-lineheight-headline-xxl: 2.25rem;
    --codeblock-color-docs-background-default: #f6f6f7;
    --codeblock-color-docs-background-surface-default: #ffffff;
    --codeblock-color-docs-background-surface-hover: #fafbfb;
    --codeblock-color-docs-background-surface-active: #fafbfb;
    --codeblock-color-docs-text-default: #5c5f62;
    --codeblock-color-docs-text-subdued: #6d7175;
    --codeblock-color-docs-text-bright: #202223;
    --codeblock-color-docs-text-link-default: #6d7175;
    --codeblock-color-docs-text-link-hover: #007c86;
    --codeblock-color-docs-text-link-active: #006a73;
    --codeblock-color-docs-border-default: #d2d5d8;
    --codeblock-color-docs-fill-default: #6d7175;
    --codeblock-color-docs-fill-icon-default: #6d7175;
    --codeblock-color-docs-fill-icon-hover: #007c86;
    --codeblock-color-docs-fill-icon-active: #006a73;
    --codeblock-color-docs-code-linenumber: #c9cccf;
    --codeblock-color-docs-code-subdued: #6d7175;
    --codeblock-color-docs-code-highlight: #ffffff;
    --codeblock-color-docs-code-selected: #c5ecf3;
    --codeblock-color-docs-code-activeline: #00000011;
    --codeblock-color-rest-background-default: #f6f6f7;
    --codeblock-color-rest-background-surface-default: #ffffff;
    --codeblock-color-rest-background-surface-hover: #fafbfb;
    --codeblock-color-rest-background-surface-active: #fafbfb;
    --codeblock-color-rest-text-default: #1b6780;
    --codeblock-color-rest-text-subdued: #507587;
    --codeblock-color-rest-text-bright: #0d4151;
    --codeblock-color-rest-text-link-default: #217996;
    --codeblock-color-rest-text-link-hover: #1b6780;
    --codeblock-color-rest-text-link-active: #145469;
    --codeblock-color-rest-border-default: #d2d5d8;
    --codeblock-color-rest-fill-default: #278bab;
    --codeblock-color-rest-fill-icon-default: #217996;
    --codeblock-color-rest-fill-icon-hover: #1b6780;
    --codeblock-color-rest-fill-icon-active: #145469;
    --codeblock-color-rest-code-linenumber: #c9cccf;
    --codeblock-color-rest-code-highlight: #ffffff;
    --codeblock-color-rest-code-selected: #ceeaf9;
    --codeblock-color-rest-code-activeline: #00000011;
    --codeblock-color-graphql-background-default: #f6f6f7;
    --codeblock-color-graphql-background-surface-default: #ffffff;
    --codeblock-color-graphql-background-surface-hover: #fafbfb;
    --codeblock-color-graphql-background-surface-active: #fafbfb;
    --codeblock-color-graphql-text-default: #b31587;
    --codeblock-color-graphql-text-subdued: #a85389;
    --codeblock-color-graphql-text-bright: #720955;
    --codeblock-color-graphql-text-link-default: #ce1b9c;
    --codeblock-color-graphql-text-link-hover: #b31587;
    --codeblock-color-graphql-text-link-active: #920f6e;
    --codeblock-color-graphql-border-default: #d2d5d8;
    --codeblock-color-graphql-fill-default: #e800b0;
    --codeblock-color-graphql-fill-icon-default: #ce1b9c;
    --codeblock-color-graphql-fill-icon-hover: #b31587;
    --codeblock-color-graphql-fill-icon-active: #920f6e;
    --codeblock-color-graphql-code-linenumber: #c9cccf;
    --codeblock-color-graphql-code-highlight: #ffffff;
    --codeblock-color-graphql-code-selected: #fedcef;
    --codeblock-color-graphql-code-activeline: #00000011;
    --codeblock-color-liquid-background-default: #f6f6f7;
    --codeblock-color-liquid-background-surface-default: #ffffff;
    --codeblock-color-liquid-background-surface-hover: #fafbfb;
    --codeblock-color-liquid-background-surface-active: #fafbfb;
    --codeblock-color-liquid-text-default: #005fb8;
    --codeblock-color-liquid-text-subdued: #5470a8;
    --codeblock-color-liquid-text-bright: #003870;
    --codeblock-color-liquid-text-link-default: #2870cc;
    --codeblock-color-liquid-text-link-hover: #005fb8;
    --codeblock-color-liquid-text-link-active: #004d96;
    --codeblock-color-liquid-border-default: #d2d5d8;
    --codeblock-color-liquid-fill-default: #3580e6;
    --codeblock-color-liquid-fill-icon-default: #2870cc;
    --codeblock-color-liquid-fill-icon-hover: #005fb8;
    --codeblock-color-liquid-fill-icon-active: #004d96;
    --codeblock-color-liquid-code-linenumber: #c9cccf;
    --codeblock-color-liquid-code-highlight: #ffffff;
    --codeblock-color-liquid-code-selected: #dce5ff;
    --codeblock-color-liquid-code-activeline: #00000011;
    --codesyntax-color-plain: #1b6780;
    --codesyntax-color-punctuation: #44474a;
    --codesyntax-color-comment: #4b6468;
    --codesyntax-color-doctypetag: #217996;
    --codesyntax-color-doctypename: #6055ff;
    --codesyntax-color-number: #286d1d;
    --codesyntax-color-string: #9a4642;
    --codesyntax-color-operator: #00565e;
    --codesyntax-color-operatorentity: #1b6780;
    --codesyntax-color-operatorarrow: #217996;
    --codesyntax-color-atrule: #cd355b;
    --codesyntax-color-atrulerule: #b31587;
    --codesyntax-color-atruleurl: #005fb8;
    --codesyntax-color-atruleurlfunction: #926900;
    --codesyntax-color-atruleurlpunctuation: #1b6780;
    --codesyntax-color-keyword: #005fb8;
    --codesyntax-color-keywordmodule: #ce1b9c;
    --codesyntax-color-keywordimport: #ce1b9c;
    --codesyntax-color-function: #7d5900;
    --codesyntax-color-regex: #d72c0d;
    --codesyntax-color-important: #217996;
    --codesyntax-color-constant: #1b6780;
    --codesyntax-color-classname: #308023;
    --codesyntax-color-console: #1b6780;
    --codesyntax-color-parameter: #1b6780;
    --codesyntax-color-interpolation: #1b6780;
    --codesyntax-color-interpolationpunctuation: #217996;
    --codesyntax-color-boolean: #4b3df7;
    --codesyntax-color-property: #1b6780;
    --codesyntax-color-selector: #926900;
    --codesyntax-color-escape: #926900;
    --codesyntax-color-tag: #217996;
    --codesyntax-color-tagpunctuation: #217996;
    --codesyntax-color-cdata: #007c86;
    --codesyntax-color-attrname: #1b6780;
    --codesyntax-color-attrvalue: #cd355b;
    --codesyntax-color-attrvalueequals: #1b6780;
    --codesyntax-color-entity: #217996;
    --codesyntax-color-namespace: #008060;
    --codesyntax-color-languagejsx: #1b6780;
    --codesyntax-color-languagejsxkeyword: #2870cc;
    --codesyntax-color-languagejsxkeywordalt: #ce1b9c;
    --codesyntax-color-languagejsxtag: #476744;
    --codesyntax-color-languagejsxtagclass: #547951;
    --codesyntax-color-languagejsxpunctuationscript: #6a66bc;
    --codesyntax-color-languagecss: #cd355b;
    --codesyntax-color-languagehtml: #007c86;
    --codesyntax-color-languageregexanchor: #6e752c;
    --codesyntax-color-languagehtmlpunctuation: #597579;
    --codesyntax-color-languagegraphql: #a3dffd;
    --codesyntax-color-languagegraphqlpunctuation: #a3dffd;
    --codesyntax-color-languagegraphqlkeyword: #1b6780;
    --codesyntax-color-languagegraphqldefinition: #1b6780;
    --codesyntax-color-languagegraphqlscalar: #1b6780;
    --codesyntax-color-languagegraphqlclassname: #b31587;
    --codesyntax-color-languagegraphqlkeywordmutation: #705c41;
    --codesyntax-color-languagegraphqlkeywordquery: #5854b0;
    --codesyntax-color-languagegraphqldefinitionmutation: #7d5900;
    --codesyntax-color-languagegraphqldefinitionquery: #4b3df7;
    --codesyntax-color-languagegraphqlvariableinput: #476744;
    --codesyntax-color-languagegraphqlatominput: #286d1d;
    --codesyntax-color-languagegraphqlpropertymutation: #217996;
    --codesyntax-color-languagegraphqlpropertyquery: #4b3df7;
    --codesyntax-color-languagegraphqlattrname: #9231b3;
    --codesyntax-color-languagegraphqlobject: #b31587;
    --codesyntax-color-languagegraphqlproperty: #217996;
    --codesyntax-color-languageliquid: #1b6780;
    --codesyntax-color-languageliquidpunctuation: #44474a;
    --codesyntax-color-languageliquiddelimiter: #475f91;
    --codesyntax-color-languageliquidplain: #202223;
    --codesyntax-color-languageliquidcomment: #597579;
    --codesyntax-color-languageliquidobject: #008060;
    --codesyntax-color-languageliquidkeyword: #2870cc;
    --codesyntax-color-languageliquidkeywordalt: #00565e;
    --codesyntax-color-languageliquidfunction: #926900;
    --codesyntax-color-languageliquidnumber: #308023;
    --codesyntax-color-languageliquidstring: #b2544e;
    --codesyntax-color-languageliquidboolean: #6055ff;
    --codesyntax-color-languageliquidempty: #6055ff;
    --codesyntax-color-languageliquidoperator: #00565e;
    --codesyntax-color-languageliquidtag: #4b6468;
    --codesyntax-color-languageliquidtagattr: #597579;
    --codesyntax-color-languageyaml: #926900;
    --codesyntax-color-languageyamlatom: #1b6780;
    --codesyntax-color-languageyamlmeta: #44474a;
    --codesyntax-color-languagemarkdownheading: #476744;
    --codesyntax-color-languagemarkdownlink: #005fb8;
    --codesyntax-color-languagemarkdownlinkmeta: #1b6780;
    --form-color-docs-border-default: #8c9196;
    --form-color-docs-border-hover: #6d7175;
    --form-color-docs-border-active: #5c5f62;
    --form-color-docs-background-surface-borderless-default: #f1f2f3;
    --form-color-docs-background-surface-borderless-hover: #edeeef;
    --form-color-docs-background-surface-borderless-active: #e4e5e7;
    --form-color-docs-background-surface-default: #fafbfb;
    --form-color-docs-background-surface-hover: #f6f6f7;
    --form-color-docs-background-surface-active: #f1f2f3;
    --form-color-rest-border-default: #8c9196;
    --form-color-rest-border-hover: #6d7175;
    --form-color-rest-border-active: #5c5f62;
    --form-color-graphql-border-default: #8c9196;
    --form-color-graphql-border-hover: #6d7175;
    --form-color-graphql-border-active: #5c5f62;
    --form-color-liquid-border-default: #8c9196;
    --form-color-liquid-border-hover: #6d7175;
    --form-color-liquid-border-active: #5c5f62;
    --sidebar-color-docs-background-default: #f6f6f7;
    --sidebar-color-rest-background-default: #f6f6f7;
    --sidebar-color-graphql-background-default: #f6f6f7;
    --sidebar-color-liquid-background-default: #f6f6f7;
    --tooltip-color-docs-background-surface-active: #f6f6f7;
    --tooltip-color-docs-background-surface-hover: #f6f6f7;
    --tooltip-color-docs-border-active: #999ea4;
    --tooltip-color-docs-text-default: #5c5f62;
    --tooltip-color-docs-text-headline-default: #202223;
    --tooltip-color-docs-fill-icon-default: #6d7175;
    --tooltip-color-rest-background-surface-active: #f6f6f7;
    --tooltip-color-rest-border-active: #999ea4;
    --tooltip-color-rest-text-default: #5c5f62;
    --tooltip-color-graphql-background-surface-active: #f6f6f7;
    --tooltip-color-graphql-border-active: #999ea4;
    --tooltip-color-graphql-text-default: #5c5f62;
    --tooltip-color-liquid-background-surface-active: #f6f6f7;
    --tooltip-color-liquid-border-active: #999ea4;
    --tooltip-color-liquid-text-default: #5c5f62;
    --component-accordion-divider: 1px solid #d2d5d8;
    --component-accordion-toggle-padding: 0.75rem 0;
    --component-accordion-toggle-color: #6d7175;
    --component-accordion-toggle-font: 400 0.875rem/1.25rem 'Inter', -apple-system, BlinkMacSystemFont, 'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    --component-accordion-toggle-bumper: 0.75rem;
    --component-expandable-transition-property: max-height;
    --component-expandable-transition-duration: 100ms;
    --component-expandable-transition-timingfunction: ease-out;
    --component-icon-size-default: 1.25rem;
    --component-icon-size-xxl: 2rem;
    --component-icon-size-xl: 1.75rem;
    --component-icon-size-lg: 1.5rem;
    --component-icon-size-sm: 1rem;
    --component-icon-size-xs: 0.75rem;
    --component-icon-size-xxs: 0.5rem;
    --component-property-detail-default-container-color-background: #fafbfb;
    --component-property-detail-default-label-color: #6d7175;
    --component-property-detail-required-container-color-background: #fee9e8;
    --component-property-detail-required-label-color: #981c06;
    --component-property-detail-deprecated-container-color-background: #f5fad3;
    --component-property-detail-deprecated-label-color: #4c5120;
    --component-property-detail-beta-container-color-background: #d4f4f9;
    --component-property-detail-beta-label-color: #00565e;
    --component-property-detail-readonly-container-color-background: #fafbfb;
    --component-property-detail-readonly-label-color: #6d7175;
    --component-property-detail-write-only-container-color-background: #fafbfb;
    --component-property-detail-write-only-label-color: #6d7175;
    --component-property-detail-nonnull-container-color-background: #fafbfb;
    --component-property-detail-nonnull-label-color: #6d7175;
    --component-property-detail-format-container-color-background: transparent;
    --component-property-detail-format-label-color: #6d7175;
    --component-chip-default-container-color-background: #fafbfb;
    --component-chip-default-container-color-border: #6d7175;
    --component-chip-default-container-spacing-x: 0.25rem;
    --component-chip-default-container-spacing-y: 0.0625rem;
    --component-chip-default-container-border-radius: 0.25rem;
    --component-chip-default-label-size-y: 0.875rem;
    --component-chip-default-label-color: #6d7175;
    --component-chip-default-label-transform: uppercase;
    --component-chip-default-label-font-family: 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --component-chip-default-label-font-size: 0.875rem;
    --component-chip-default-label-font-chip-method-active: 700 0.75rem/1rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --component-chip-small-container-spacing-x: 0.25rem;
    --component-chip-small-container-spacing-y: 0.0625rem;
    --component-chip-small-container-border-radius: 0.25rem;
    --component-chip-small-label-size-y: 0.875rem;
    --component-chip-small-label-font-size: 0.75rem;
    --component-chip-small-label-font-chip-method-active: 500 0.625rem/1rem 'JetBrains Mono', Monaco, Consolas, 'Lucida Console', monospace;
    --motion-base-delay-none: 0;
    --motion-base-delay-shortest: 20ms;
    --motion-base-delay-shorter: 50ms;
    --motion-base-delay-short: 100ms;
    --motion-base-delay-long: 200ms;
    --motion-base-delay-longer: 400ms;
    --motion-base-delay-longest: 600ms;
    --motion-base-ease-linear: cubic-bezier(0.0, 0.0, 1.0, 1.0);
    --motion-base-ease-in: cubic-bezier(1, 0.19, 0.99, 0.68);
    --motion-base-ease-out: cubic-bezier(0.19, 0.99, 0.68, 1);
    --motion-base-ease-inout: cubic-bezier(0.75, 0.08, 0.25, 0.92);
    --motion-base-transition-background-color: background-color 200ms linear;
    --motion-base-transition-border-color: border-color 200ms linear;
    --motion-base-transition-theme-modes: background-color 200ms linear, border-color 200ms linear;
    --space-base-margin-copy-xxs: 0.25rem;
    --space-base-margin-copy-xs: 0.5rem;
    --space-base-margin-copy-sm: 0.75rem;
    --space-base-margin-copy-md: 1rem;
    --space-base-margin-copy-lg: 1.5rem;
    --space-base-margin-copy-xl: 2.25rem;
    --space-base-margin-copy-xxl: 3rem;
    --space-base-margin-copy-xxxl: 3.75rem;
    --space-base-margin-inline-xxs: 0.25rem;
    --space-base-margin-inline-xs: 0.5rem;
    --space-base-margin-inline-sm: 0.75rem;
    --space-base-margin-inline-md: 1rem;
    --space-base-margin-inline-lg: 1.25rem;
    --space-base-margin-inline-xl: 1.5rem;
    --space-base-margin-inline-xxl: 1.75rem;
    --space-base-margin-stack-xxs: 0.25rem;
    --space-base-margin-stack-xs: 0.5rem;
    --space-base-margin-stack-sm: 0.75rem;
    --space-base-margin-stack-md: 1rem;
    --space-base-margin-stack-lg: 1.5rem;
    --space-base-margin-stack-xl: 2.25rem;
    --space-base-margin-stack-xxl: 3rem;
    --space-base-margin-stack-xxxl: 3.75rem;
    --space-base-margin-heading-xxs: 0.75rem;
    --space-base-margin-heading-xs: 0.75rem;
    --space-base-margin-heading-sm: 1rem;
    --space-base-margin-heading-md: 1rem;
    --space-base-margin-heading-lg: 1.5rem;
    --space-base-margin-heading-xl: 1.5rem;
    --space-base-margin-heading-xxl: 1.5rem;
    --space-base-padding-inline-xxs: 0.25rem;
    --space-base-padding-inline-xs: 0.5rem;
    --space-base-padding-inline-sm: 0.75rem;
    --space-base-padding-inline-md: 1rem;
    --space-base-padding-inline-lg: 1.25rem;
    --space-base-padding-inline-xl: 1.5rem;
    --space-base-padding-inline-xxl: 1.75rem;
    --space-base-padding-inline-xxxl: 2rem;
    --space-base-inset-sm: 0.25rem;
    --space-base-inset-md: 0.5rem;
    --space-base-inset-lg: 0.75rem;
    --space-base-inset-xl: 1rem;
    --space-base-inset-xxl: 1.25rem;
    --space-base-inset-xxxl: 1.5rem;
}